<div class="datenschutz-rechte-container">
  <app-footer rootClassName="footer-root-class-name"></app-footer>
  <app-header2 rootClassName="header2-root-class-name1"></app-header2>
  <div class="datenschutz-rechte-hero">
    <h1 class="datenschutz-rechte-text">Datenschutz und Rechte</h1>
    <span class="datenschutz-rechte-text1">
      <span>Datenschutz blablabal TEXT</span>
      <br />
      <span>Rechte BLABLABLA TEXT</span>
      <br />
    </span>
    <a
      href="https://cdn-icons-png.flaticon.com/512/2433/2433508.png"
      target="_blank"
      rel="noreferrer noopener"
      class="datenschutz-rechte-link"
    >
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="datenschutz-rechte-image"
      />
    </a>
  </div>
</div>
