<div class="register-container" [ngClass]="rootClassName">
  <div class="register-container01">
    <span class="register-text">{{ text12 }}</span>
    <input
      type="text"
      required
      [attr.placeholder]="textinput_placeholder"
      class="register-textinput input"
    />
  </div>
  <div class="register-container02">
    <span class="register-text1">{{ text121 }}</span>
    <input
      type="text"
      required
      [attr.placeholder]="textinput_placeholder3"
      class="register-textinput1 input"
    />
  </div>
  <div class="register-container03">
    <span class="register-text2">{{ text1 }}</span>
    <select class="register-select">
      <option value="Option 1" selected>Fachbereich 1</option>
      <option value="Option 2">Fachbereich 2</option>
      <option value="Option 3">Fachbereich 3</option>
      <option value="New Option">Fachbereich 4</option>
    </select>
  </div>
  <div class="register-container04">
    <div class="register-container05">
      <span class="register-text3">{{ Rolle }}</span>
    </div>
    <select name="Rolle" required class="register-select1">
      <option value="Student" selected>Student</option>
      <option value="Dozent      ">Dozent</option>
    </select>
  </div>
  <div class="register-container06">
    <span class="register-text4">{{ text11 }}</span>
    <input
      type="text"
      required
      [attr.placeholder]="textinput_placeholder2"
      class="register-textinput2 input"
    />
  </div>
  <div class="register-container07">
    <span class="register-text5">{{ text1111 }}</span>
    <div class="register-container08">
      <input
        type="text"
        required
        [attr.placeholder]="textinput_placeholder1"
        class="register-textinput3 input"
      />
    </div>
  </div>
  <div class="register-container09">
    <span class="register-text6">{{ text111 }}</span>
    <input
      type="text"
      required
      [attr.placeholder]="textinput_placeholder11"
      class="register-textinput4 input"
    />
  </div>
  <div class="register-container10">
    <input type="checkbox" required class="register-checkbox" />
    <span class="register-text7">{{ text1112 }}</span>
  </div>
  <button type="submit" class="register-button button">{{ button }}</button>
</div>
