:host { 
  display: contents; 
}
.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navigation-links2-text {
  color: #fbb63f;
}
.navigation-links2-text1 {
  color: #fbb63f;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text2 {
  color: #fbb63f;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links2-text3 {
  color: #fbb63f;
  margin-left: var(--dl-space-space-twounits);
}








.navigation-links2-root-class-name10 {
  align-self: center;
}
@media(max-width: 991px) {
  .navigation-links2-root-class-name10 {
    display: none;
  }
}
@media(max-width: 767px) {
  .navigation-links2-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
