<div class="impressum-container">
  <app-footer rootClassName="footer-root-class-name"></app-footer>
  <app-header2 rootClassName="header2-root-class-name1"></app-header2>
  <div class="impressum-hero">
    <h1 class="impressum-text">Impressum</h1>
    <span class="impressum-text1">
      <span>Impressum TEXT BLABLABAL</span>
      <br />
    </span>
    <a
      href="https://cdn-icons-png.flaticon.com/512/2433/2433508.png"
      target="_blank"
      rel="noreferrer noopener"
      class="impressum-link"
    >
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="impressum-image"
      />
    </a>
  </div>
</div>
