<div class="outer">
  <h1>Hinweis über die Verarbeitung Ihrer Nutzerdaten (Datenschutzerklärung)</h1>
  <p>Sobald Sie auf das Internetangebot der Frankfurt University zugreifen, werden nachstehende Angaben in einer Protokolldatei gespeichert:</p>
  <ul>
    <li>vollständig anonymisierte IP-Adresse des aufrufenden Rechners,</li>
    <li>Datum und Uhrzeit,</li>
    <li>Identifikation des verwendeten Browsers (falls übertragen)</li>
  </ul>
  <p>Abgleich mit anderen Datenbeständen oder eine Weitergabe an Dritte, auch in Auszügen, findet nicht statt. Die Löschung erfolgt automatisiert.</p>

  <h2>Fragen zum Datenschutz</h2>
  <p>Sollten Sie Fragen und Anregungen zur Verarbeitung personenbezogener Daten durch die Hochschule haben, erreichen Sie unseren Datenschutzbeauftragten postalisch oder per E-Mail wie folgt:</p>
  <p>Frankfurt University of Applied Sciences</p>
  <p>Datenschutzbeauftragte*r</p>
  <p>Nibelungenplatz 1</p>
  <p>60318 Frankfurt am Main</p>
  <p>Telefon: <a href="tel:+496915330">+49 69 1533-0</a></p>
  <p class="blue">dsb(at)fra-uas.de</p>

  <h2>Beschwerdemöglichkeiten</h2>
  <p>Sie haben das Recht, sich bei datenschutzrechtlichen Problemen bei der zuständigen Fachaufsichtsbehörde zu beschweren. Kontaktadresse der Fachaufsichtsbehörde der Frankfurt University of Applied Sciences:</p>
  <p>Der Hessische Datenschutzbeauftragte</p>
  <p>Postfach 3163</p>
  <p>65021 Wiesbaden</p>
  <p class="blue">Poststelle(at)datenschutz.hessen.de</p>
  <a href="https://datenschutz.hessen.de/">https://datenschutz.hessen.de</a>

  <h2>Hinweise zur Verarbeitung Ihrer Daten gem. Art. 13 der Europäischen Datenschutzgrundverordnung (EU-DSGVO)</h2>
  <p>Verweise auf gesetzliche Vorschriften beziehen sich auf die <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/PDF/?uri=CELEX:32016R0679&from=DE">Datenschutzgrundverordnung (EU-DSGVO)</a>, sowie das <a href="https://dsgvo-gesetz.de/bdsg-neu/">Bundesdatenschutzgesetz (BDSG)</a> und das <a href="https://datenschutz.hessen.de/sites/datenschutz.hessen.de/files/HDSIG%20und%20andere_0.pdf">Hessische Datenschutz- und Informationsfreiheitsgesetz (HDSIG)</a> in der ab dem 25.05.2018 geltenden Fassung. (Links geprüft am 13.03.2019.)</p>

  <h3>Geltungsbereich</h3>
  <p>Diese Datenschutzerklärung gilt für das Internet-Angebot iSG.informatik.fb2.hs-intern.de</p>
  <p>Für Internetseiten anderer Anbieter, auf die z. B. über Links verwiesen wird, gelten die dortigen Datenschutzhinweise und Datenschutzerklärungen.</p>

  <h3>Verantwortlichkeit</h3>
  <p>Verantwortlich für die Verarbeitung personenbezogener Daten auf diesen Internetseiten ist:</p>
  <p>Der Präsident der Frankfurt University of Applied Sciences</p>
  <p>Prof. Dr.-Ing. René Thiele</p>
  <p>Gebäude 2, Raum 513</p>
  <p>Telefon: <a href="tel:+496915332415">+49 69 1533 2415</a></p>
  <p class="blue">praesident(at)fra-uas.de</p>

  <h3>Datenschutzbeauftragter</h3>
  <p>Frankfurt University of Applied Sciences</p>
  <p>Datenschutzbeauftragte*r</p>
  <p>Nibelungenplatz 1</p>
  <p>60318 Frankfurt am Main</p>
  <p>Telefon: <a href="tel:+496915330">+49 69 1533-0</a></p>
  <p class="blue">dsb(at)fra-uas.de</p>

  <h3>Hosting</h3>
  <p>Das Internet-Angebot wird von der <a href="https://www.frankfurt-university.de/de/hochschule/einrichtungen-und-services/leitung-und-zentrale-verwaltung/cit/">Campus IT</a> der Frankfurt University of Applied Sciences vorgehalten.</p>

  <h2>Ihre Betroffenenrechte</h2>
  <p>Sie haben gegenüber der Frankfurt UAS folgende Rechte hinsichtlich Ihrer gespeicherten personenbezogenen Daten:</p>
  <ul>
    <li>Recht auf Auskunft,</li>
    <li>Recht auf Berichtigung oder Löschung,</li>
    <li>Recht auf Einschränkung der Verarbeitung,</li>
    <li>Recht auf Widerruf Ihrer Einwilligung,</li>
    <li>Recht auf Widerspruch gegen die Verarbeitung,</li>
    <li>Recht auf Datenübertragbarkeit, in einer gängigen, strukturierten und maschinenlesbaren Form (ab dem 25. Mai 2018).</li>
  </ul>
  <p>Zur Geltendmachung dieser Rechte wenden Sie sich an die Zentrale Webredaktion, webredaktion(at)fra-uas.de.</p>
</div>
