<div class="dropdown-menu1-container" [ngClass]="rootClassName">
  <div data-thq="thq-dropdown" class="dropdown-menu1-dropdown list-item">
    <div data-thq="thq-dropdown-toggle" class="dropdown-menu1-dropdown-toggle">
      <span class="dropdown-menu1-text">Menü</span>
      <div data-thq="thq-dropdown-arrow" class="dropdown-menu1-dropdown-arrow">
        <svg viewBox="0 0 1024 1024" class="dropdown-menu1-icon">
          <path d="M426 726v-428l214 214z"></path>
        </svg>
      </div>
    </div>
    <ul data-thq="thq-dropdown-list" class="dropdown-menu1-dropdown-list">
      <li data-thq="thq-dropdown" class="dropdown-menu1-dropdown1 list-item">
        <div
          data-thq="thq-dropdown-toggle"
          class="dropdown-menu1-dropdown-toggle1"
        >
          <span class="dropdown-menu1-text1">Profil</span>
        </div>
      </li>
      <li data-thq="thq-dropdown" class="dropdown-menu1-dropdown2 list-item">
        <div
          data-thq="thq-dropdown-toggle"
          class="dropdown-menu1-dropdown-toggle2"
        >
          <span class="dropdown-menu1-text2">Meine Projekte</span>
        </div>
      </li>
      <li data-thq="thq-dropdown" class="dropdown-menu1-dropdown3 list-item">
        <div
          data-thq="thq-dropdown-toggle"
          class="dropdown-menu1-dropdown-toggle3"
        >
          <span class="dropdown-menu1-text3">Kurs</span>
        </div>
      </li>
      <li data-thq="thq-dropdown" class="dropdown-menu1-dropdown4 list-item">
        <div
          data-thq="thq-dropdown-toggle"
          class="dropdown-menu1-dropdown-toggle4"
        >
          <span class="dropdown-menu1-text4">Über uns</span>
        </div>
      </li>
    </ul>
  </div>
</div>
