<div class="dropdown-menu-container" [ngClass]="rootClassName">
  <div data-thq="thq-dropdown" class="dropdown-menu-thq-dropdown list-item">
    <div data-thq="thq-dropdown-toggle" class="dropdown-menu-dropdown-toggle">
      <span class="dropdown-menu-text">Menü</span>
      <div data-thq="thq-dropdown-arrow" class="dropdown-menu-dropdown-arrow">
        <svg viewBox="0 0 1024 1024" class="dropdown-menu-icon">
          <path d="M426 726v-428l214 214z"></path>
        </svg>
      </div>
    </div>
    <ul data-thq="thq-dropdown-list" class="dropdown-menu-dropdown-list">
      <li data-thq="thq-dropdown" class="dropdown-menu-dropdown list-item">
        <div
          data-thq="thq-dropdown-toggle"
          class="dropdown-menu-dropdown-toggle1"
        >
          <span class="dropdown-menu-text1">Login</span>
        </div>
        <div
          data-thq="thq-dropdown-toggle"
          class="dropdown-menu-dropdown-toggle2"
        >
          <span class="dropdown-menu-text2">Profil</span>
        </div>
      </li>
      <li data-thq="thq-dropdown" class="dropdown-menu-dropdown1 list-item">
        <div
          data-thq="thq-dropdown-toggle"
          class="dropdown-menu-dropdown-toggle3"
        >
          <span class="dropdown-menu-text3">Meine Projekte</span>
        </div>
      </li>
      <li data-thq="thq-dropdown" class="dropdown-menu-dropdown2 list-item">
        <div
          data-thq="thq-dropdown-toggle"
          class="dropdown-menu-dropdown-toggle4"
        >
          <span class="dropdown-menu-text4">Kurs</span>
        </div>
      </li>
      <li data-thq="thq-dropdown" class="dropdown-menu-dropdown3 list-item">
        <div
          data-thq="thq-dropdown-toggle"
          class="dropdown-menu-dropdown-toggle5"
        >
          <span class="dropdown-menu-text5">Über uns</span>
        </div>
      </li>
      <li
        data-thq="thq-dropdown"
        class="dropdown-menu-dropdown4 list-item"
      ></li>
    </ul>
  </div>
</div>
