<div class="home-container">
  <app-footer rootClassName="footer-root-class-name"></app-footer>
  <app-header2 rootClassName="header2-root-class-name1"></app-header2>
  <div class="home-hero">
    <div class="home-container1">
      <h1 class="home-text">Was ist Ökologische Nachhaltigkeit</h1>
      <span class="home-text1">
        <span>
          Die Aspekte des Projektmanagements und der Teamentwicklung werden im
          Rahmen dieses Moduls an dem Projekt &quot;Ökologische
          Nachhaltigkeit&quot; erfahrbar gemacht und erlernt. Sie werden in
          interdisziplinärer Zusammenarbeit die einzelnen Arbeitsschritte für
          Ihr spezielles Teilprojekt (z. B. Analyse, Konzeption, elektronisches
          System, mobile Anwendung, etc.) erarbeiten sowie die Erstellung des
          sog. Lasten- oder Pflichtenheftes festlegen und durchführen.
        </span>
        <br />
        <br />
        <span>
          Die Arbeit erfolgt dabei in thematisch orientierten
          Teilprojektgruppen. Diese werden zu Beginn der Veranstaltung aus den
          Bereichen Ökologie und Nachhaltigkeit, z.B. individueller CO²
          Fußabdruck, Alternativen in der Mobilität, Ökobilanz von
          Lebensmitteln, Nachhaltigkeit der unternehmerischen Tätigkeit, etc.
          festgelegt. Besetzung der Projektgruppen: immer mit Teilnehmer/inn/e/n
          aus technischen und nichttechnischen Studiengängen, um die
          interdisziplinäre Zusammenarbeit zu gewährleisten.
        </span>
        <span><span [innerHTML]="rawly9l"></span></span>
        <span><span [innerHTML]="rawryr2"></span></span>
      </span>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxtaW5pbWFsaXNtJTIwZ3JlZW58ZW58MHx8fHwxNjI1ODQxMDcw&amp;ixlib=rb-1.2.1&amp;h=1500"
      class="home-image"
    />
  </div>
</div>
