<div>
  <h1>allgemeine Definition von ökologischer Nachhaltigkeit:</h1>
  <ul>
    <li>Das Bundesministerium für wirtschaftliche Zusammenarbeit und Entwicklung (BMZ) definiert Nachhaltigkeit bzw. nachhaltige Entwicklung wie folgt:</li>
  </ul>
  <p>“Nachhaltigkeit (nachhaltige Entwicklung)</p>
  <p>Nachhaltigkeit oder nachhaltige Entwicklung bedeutet, die Bedürfnisse der Gegenwart so zu befriedigen, dass die Möglichkeiten zukünftiger Generationen nicht eingeschränkt werden. Dabei ist es wichtig, die drei Dimensionen der Nachhaltigkeit – wirtschaftlich effizient, sozial gerecht, ökologisch tragfähig – gleichberechtigt zu betrachten. Um die globalen Ressourcen langfristig zu erhalten, sollte Nachhaltigkeit die Grundlage aller politischen Entscheidungen sein.
    Seit der UN-Konferenz für Umwelt und Entwicklung, die 1992 in Rio de Janeiro stattfand, ist die nachhaltige Entwicklung als globales Leitprinzip international akzeptiert. Konkrete Ansätze zu ihrer Umsetzung finden sich in der in Rio verabschiedeten Agenda 21.”
    (Nachhaltigkeit (nachhaltige Entwicklung) | BMZ)
  </p>
  <ul>
    <li>Auf der Website  Hanisauland wird Nachhaltigkeit vereinfacht und auch für Kinder verständlich folgendermaßen definiert:</li>
  </ul>
  <p>“Kurz & knapp</p>
  <p>Nachhaltig handeln heißt: Beim Verbrauch von Rohstoffen und anderen Schätzen der Erde nimmt man Rücksicht auf die nachfolgenden Generationen. Man wird dann nicht mehr verbrauchen, als auch nachwachsen kann. Beim Naturschutz und in der Umweltpolitik spricht man oft von Nachhaltigkeit.” Weiter heißt es zur ursprünglichen Definition:
    “Der Begriff "Nachhaltigkeit" stammt aus der Forstwirtschaft des frühen 18. Jahrhundert. Zum ersten Mal verwendet hat ihn der Forstexperte Hans Carl von Carlowitz. Nachhaltigkeit bedeutete für ihn, dass man nicht mehr ernten soll, als in der Natur nachwachsen kann.”
    (Nachhaltigkeit | Politik für Kinder, einfach erklärt - HanisauLand.de)
  </p>
  <p>In eigenen Worten formuliert bedeutet Nachhaltigkeit also, einen schonenden Umgang mit natürlichen Ressourcen zu pflegen und im Interesse aller Bewohner der Erde zu handeln, mit hinblick auch auf nachfolgende Generationen.</p>
</div>
