<div>
  <h1>Tipps für ein nachhaltigeres Leben</h1>
  <ul>
    <li>Regional und saisonal einkaufen:
      <p>Durch regionales und saisonales Einkaufen werden regionale Anbieter unterstützt. Zusätzlich müssen die Produkte nicht importiert werden, wodurch sich längere Transportwege vermeiden lassen.</p>
    </li><br>
    <li>Verzicht von Fleisch und anderen tierischen Lebensmitteln
      <p>Fleisch und andere tierische Lebensmittel verbrauchen in der Produktion eine Vielzahl von Ressourcen. So wird hierfür einerseits viel Wasser verbraucht (bspw. benötigt ein Kilo Rindfleisch in der Produktion etwa 15.500 Liter Wasser) und andererseits werden große Flächen für den Anbau von Futterpflanzen benötigt. Durch den Verzicht auf tierische Lebensmittel lassen sich also einige Ressourcen einsparen. </p>
    </li><br>
    <li>Auf Plastik verzichten
      <p>Zur Herstellung von Plastik wird der fossile Brennstoff Erdöl benötigt. Dieser gilt als ökologisch problematisch und die Bohrung danach wirkt sich nachteilig auf Umwelt, Tiere und Menschen aus. Des Weiteren kann Plastik nicht abgebaut werden. Das hat zur Folge, dass immer mehr Mikroplastik in der Umwelt und den Meeren gefunden wird. Aus diesem Grund sollte möglichst auf Plastik verzichtet werden.</p>
      <p>Beim Lebensmitteleinkauf kann dafür z.B. auf Plastikflaschen, verpacktes Obst und Gemüse oder auch Plastiktüten verzichtet werden. Alternativ können Stoffbeutel, Mehrweggläser und -flaschen sowie Obst- und Gemüsenetze genutzt werden. Doch auch in anderen Bereichen, wie bspw. der Hygiene, kann Plastik durch u.a. die Nutzung fester Seifen und Shampoos eingespart werden.</p>
    </li><br>
    <li>Bewusster einkaufen
      <p>Ca. 17% der produzierten Lebensmittel landen schlussendlich in der Mülltonne. Um das Wegschmeißen von Lebensmittel zu vermeiden, ist ein im voraus geplanter Einkauf hilfreich. Außerdem gibt es die Möglichkeit, Lebensmittel durch Foodsharing vor der Tonne zu retten. Dies ist ressourcenschonend und gleichzeitig kostengünstig</p>
      <p>Beispiele für Foodsharing-Plattformen sind: <a href="https://toogoodtogo.de/de/">https://toogoodtogo.de/de/</a> sowie <a href="https://foodsharing.de">https://foodsharing.de.</a></p>
      <p>Außerdem wird durch den Kauf von Bio und fair produzierten Lebensmittel die  umweltschonende Produktion von Lebensmitteln unterstützt und gestärkt. Und es stellt eine Möglichkeit dar, soziale Verantwortung zu übernehmen.</p>
    </li><br>
    <li> Eigenen Konsum hinterfragen
      <p>Nachhaltigkeit bedeutet auch, den eigenen Konsum zu hinterfragen. Achtet man beim Kauf auf die richtige Qualität und ersetzt defekte Produkte nicht direkt, sondern repariert sie, lassen sich eine Vielzahl von Ressourcen einsparen.</p>
      <p>Zusätzlich können nicht mehr genutzte Produkte getauscht, verschenkt oder auch verkauft werden und müssen nicht weggeworfen werden.</p>
      <p>Bei nicht regelmäßig benötigten Geräten und auch Autos lohnt es sich außerdem Sharingmöglichkeiten zu nutzen.</p>
      <p>m Raum Frankfurt können dazu u.a. folgende Seiten zum Carsharing <a href="https://www.share-now.com/de/de/frankfurt/">https://www.share-now.com/de/de/frankfurt/</a>und <a href="https://www.book-n-drive.de/go/frankfurt/">https://www.book-n-drive.de/go/frankfurt/</a> genutzt werden. Zum (Ver-)Kauf von nicht mehr Genutztem als auch dem (Ver-)Leihen kann bspw. <a href="https://nebenan.de/home_b">https://nebenan.de/home_b</a> genutzt werden.</p>
    </li><br>
    <li>Vermeiden von Fast Fashion
      <p>Modetrends sind oftmals sehr schnelllebig und damit auch ressourcen- und kostenaufwendig. Statt Fast Fashion und Quantität sollte auch hier die Qualität der Produkte im Vordergrund stehen. Außerdem empfiehlt es sich, vielfältig kombinierbare Kleidung zu kaufen.</p>
      <p>Zusätzlich gibt es die Möglichkeit, Second Hand einzukaufen. Damit lassen sich Geld und Ressourcen sparen. Auch eigene, nicht mehr getragene Kleidung kann, z.B. auf <a href="https://www.vinted.de">https://www.vinted.de</a>, getauscht, verschenkt oder verkauft werden.</p>
    </li><br>
    <li>Recycling & Mülltrennung
      <p>Die richtige Mülltrennung ermöglicht, dass möglichst viele Stoffe recycelt werden können. Dadurch müssen weniger neue Ressourcen verbraucht werden.</p>
    </li><br>
    <li>Wasser-, Strom- und Heizverbrauch
      <p>Die Nutzung von Wasser, Strom und Heizung verbraucht Ressourcen. Diese sollten möglichst voll ausgenutzt werden, indem bspw. Waschmaschine und Geschirrspüler nur voll beladen eingeschaltet werden. Dadurch lassen sich Energie, Wasser und auch Geld sparen. Des Weiteren sollte, insbesondere beim Kauf neuer Geräte, auf die Energieeffizienz und die Energieklasse geachtet werden. </p>
      <p>Doch auch bei der Auswahl des Energieanbieters kann Nachhaltigkeit eine Rolle spielen. So kann dabei u.a. auf die Nutzung von Ökostrom aus regenerativen Quellen wie Wind, Solar oder Wasser Wert gelegt werden. </p>
      <p>Durch richtiges Heizen und Lüften lässt sich außerdem der CO2-Verbrauch reduzieren.</p>
    </li><br>
    <li>Weniger Auto fahren oder fliegen
      <p>Für kurze Strecken sollte das Auto möglichst stehen bleiben. Stattdessen können öffentliche Verkehrsmittel oder Fahrräder genutzt werden. Für längere Strecken bieten sich Fernbusse oder auch die Bahn an. </p>
      <p>Wenn das Auto dennoch notwendig sein sollte, ist die Bildung von Fahrgemeinschaften sinnvoll. Dadurch können Doppelfahrten und zusätzliche Emissionen vermieden werden.</p>
    </li><br>
    <li>Nachhaltigkeit auf der Arbeit oder in der Uni
      <p>Auch auf der Arbeit oder in der Uni lassen sich Ressourcen einsparen, indem z.B. mehr digital und weniger mit ausgedruckten Materialien gearbeitet wird. Sollte der Druck notwendig sein, kann auf recyceltes Papier zurückgegriffen werden.</p>
      <p>Zusätzlich kann durch die Vermeidung des Standby-Modus, z.B. am Computer, Energie eingespart werden.</p>
    </li>
  </ul>
</div>
