<div class="links">
  <a href="content/allgDef">Allgemeine Definition ökologischer Nachhaltigkeit</a><br>
  <a href="content/frauasNachhaltigkeit">Nachhaltigkeit an der Frankfurt University of Applied Sciences</a><br>
  <a href="content/tipps">Tipps für ein nachhaltigeres Leben</a><br><br>
  <a href="content/plastik">Wie kann Plastik im Haushalt reduziert werden?</a><br>
  <a href="content/fleischalternativen">Nachhaltige Lebensmittel: Ökobilanz von Fleisch und Alternativprodukten im Vergleich</a><br>
  <a href="content/lebensmittel">Ökobilanz von Lebensmitteln</a><br>
  <!-- hier neue Zeilen einfügen -->

</div>
